<?xml version="1.0"?>

<launch>
    <include file="$(find quadrotor_gazebo)/launch/upload.launch"/>
    
    <node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="0 0 0 0 0 0 map world 100" />

    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
        <remap from="cloud_in" to="/camera/depth/points"/>
        <param name="latch" value="false"/>
        <param name="resolution" value="0.5"/>
    </node>

    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find quadrotor_nav_tutorials)/rviz_cfg/nav.rviz"/>

</launch>
