<?xml version="1.0"?>

<launch>

  <include file="$(find quadrotor_gazebo)/launch/upload.launch"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="odom_frame" value="world"/>
  </include>
 
  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_publish_rate" value="4"/> 
  </include>

  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" to="/camera/depth/points"/>
    <param name="latch" value="false"/>
  </node>

</launch>
